/* @define-color foreground #111111; */
@define-color foreground rgba(250, 244, 237, 1.0);

@define-color background rgba(10, 10, 10, 0.65);

/* @define-color background rgba(250, 244, 237, 1.0); */
/* @define-color background rgba(10, 10, 10, 0.65); */

