[Desktop Entry]
Version=1.0
Name=Aerc
Comment=Aerc
Exec=xdg-terminal-exec --app-id=TUI.float -e aerc
Terminal=false
Type=Application
Icon=/home/pngu/.local/share/applications/icons/Aerc.png
StartupNotify=true
