[Desktop Entry]
Version=1.0
Name=Tailscale
Comment=Tailscale
Exec=xdg-terminal-exec --app-id=TUI.float -e sudo tsui
Terminal=false
Type=Application
Icon=/home/pngu/.local/share/applications/icons/Tailscale.png
StartupNotify=true
